@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

@layer utilities {
  .backface-visible {
    backface-visibility: visible;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
